<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charles.taskmantest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.charles.taskmantest.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.charles.taskmantest.activities.AddLocationActivity"
            android:label="AddLocation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity android:name="com.charles.taskmantest.activities.SelectorActivity"
            android:label="SetOptions">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.charles.taskmantest.eventhandlers.AreaFence"
            android:label="SetArea">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.categor.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".eventhandlers.sms.SMS"
            android:label="SetArea">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.categor.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".eventhandlers.wifi.WifiHandler"
            android:label="SetArea">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.categor.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".eventhandlers.audio.Audio"
            android:label="SetArea">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.categor.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".eventhandlers.bluetooth.BlueTooth"
            android:label="SetArea">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.categor.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCim_3u4BpRbGIVF7tBBEg7OVSgbuGl8UU"/>

        <provider
            android:authorities="com.charles.taskmantest.datahandler.TaskManContentProvider"
            android:name=".datahandler.TaskManContentProvider"
            android:exported="true"
            />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature android:glEsVersion="0x0002000" android:required="true"/>


</manifest>
